/* @media screen and (max-width: 900px) {
    
    
    .pair{
        margin: 0 auto;
    }
} */

/* @media screen and (max-width: 366px) {
    
    
    .pair{
        margin: 0 auto;
        margin-bottom: -10vw;
    }
} */

@media screen and (max-width: 955px) {
    
    
    .kvInput{
        margin-top: 50vw;
        background: rgb(219, 219, 219, 0.5);
        width: 95vw;
    }
    .pairFirst, .pairSecond {
        width: 30vw;
    }
    .pairFirst{
        margin-right: 4vw;
    }
    .pairSecond{
        margin-left: 4vw;
    }
    .btnMinus{
        width: 5vw;
        height: 5vw;
        font-size: 4vw;
    }
    canvas{
        margin: 2vw 5vw 0 5vw;
        margin-left: 0vw;
    }
}